<div class="search-page">
	<form class="navbar-form search">
		<div class="search-inputs-container products">
			<input type="text" ng-model="query.query" ng-change="queryInputChanged()" ng-model-options='{ debounce: 200 }' class="form-control query" placeholder="Search" autofocus><input type="text" ng-model="query.locality" class="form-control location" placeholder="Location" autofocus google-places-cities-search><button type="button" ng-click="searchButtonPressed()" class="btn btn-primary">Search</button>
		</div>
	</form>

	<div class="products container">
		<div ng-class="shouldDoubleLengthWithOffsetIndex(0, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12" ng-repeat="product in products">
			<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ product.image_urls[0] }})'}">
				<a ng-href="product/{{ product.id }}">
					<div class="item-title"><div class="text-center"><h2>{{ product.title }}</h2></div></div>
					<div class="item-price">{{ product.price | currency : nil : 0 }}</div>
				</a>
			</div>
		</div>
	</div>
</div>
