<div class="container">
	<div class="section discover col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-2">
		<h5>Discover</h5>
		<ul>
			<li><a href="/home">Search</a></li>
		</ul>
	</div>

	<div class="section lending col-xs-offset-1 col-xs-10 col-sm-2">
		<h5>Lending</h5>
		<ul>
			<li><a href="/why_lend">Why Lend</a></li>
			<li><a href="/why_rent">Why Rent</a></li>
			<li><a href="/best_practices">Best Practices</a></li>
			<li><a href="/safety">Safety</a></li>
		</ul>
	</div>

	<div class="section company col-xs-offset-1 col-xs-10 col-sm-2">
		<h5>Company</h5>
		<ul>
			<li><a href="/help">Help</a></li>
			<li><a href="/terms_and_privacy">Terms</a></li>
			<li><a href="https://stripe.com/us/connect-account/legal" target="_blank">Payments</a></li>
			<li><a href="/cancellation_policy">Cancellation</a></li>
			<li><a href="/renter_policy">Renter Policy</a></li>
			<li><a href="/lender_policy">Lender Policy</a></li>
		</ul>
	</div>
</div>

<div class="copyright row">&copy; BorrowBear, Inc.</div>
