<div class="section">
	<h5>Company</h5>
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/careers">Careers</a></li>
		<li><a href="/help">Help</a></li>
		<li><a href="/terms_and_privacy">Terms and Privacy</a></li>
		<li><a href="/policies">Policies</a></li>
	</ul>
</div>

<div class="section">
	<h5>Discover</h5>
	<ul>
		<li><a href="/home">Search</a></li>
		<li><a href="/cityscape">Cityscape</a></li>
		<li><a href="/inspiration">Inspiration</a></li>
		<li><a href="/staff_picks">Staff Picks</a></li>
	</ul>
</div>

<div class="section">
	<h5>Lending</h5>
	<ul>
		<li><a href="/why_rent">Why Rent</a></li>
		<li><a href="/why_borrow">Why Borrow</a></li>
		<li><a href="/best_practices">Best Practices</a></li>
		<li><a href="/safety">Safety</a></li>
	</ul>
</div>

<div class="copyright">&copy; BorrowBear, Inc.</div>
