<div class="tag-page" ng-if="tag.id">
	<div class="container">
		<h2 class="row header-row title">{{ tag.name }}</h2>
		<button class="btn btn-success" ng-if="user.admin && !tag.featured" ng-click="toggleFeaturedStatus()">Feature Tag</button>
		<button class="btn btn-danger" ng-if="user.admin && tag.featured" ng-click="toggleFeaturedStatus()">Unfeature Tag</button>
		<p class="row header-row subtitle">Check out the top results for {{ tag.name }}</p>

		<div class="products container">
			<div ng-class="shouldDoubleLengthWithOffsetIndex(1, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12 item-gallery" ng-repeat="product in tag.products">
				<a ng-href="/product/{{ product.id }}">
					<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ product.image_urls[0] }})'}"></div>
					<span class="item-title-bold">{{ product.price | currency : nil : 0 }}</span>
					<span class="item-title">{{ product.title }}</span>
				</a>
			</div>
		</div>
	</div>
</div>
