<div class="home-page">
	<div uib-carousel active="0" interval="5000">
		<div uib-slide ng-repeat="featured_product in featured_products" index="$index">
			<div class="image" ng-style="{'background-image': 'url({{ featured_product.image_url }})'}"></div>
			<div class="carousel-caption"><h2>{{ featured_product.image_caption }}</h2></div>
		</div>

		<form class="navbar-form search">
			<div class="search-inputs-container products">
				<input type="text" ng-model="productsQuery.query" class="form-control query" placeholder="Search" autofocus><input type="text" ng-model="productsQuery.locality" class="form-control location" placeholder="location" google-places-cities-home><button type="button" ng-click="searchButtonPressed()" class="btn btn-primary">Search</button>
			</div>
		</form>
	</div>

	<div class="container">
		<h2 class="row header-row title">Popular products</h2>
		<p class="row header-row subtitle">Favorites in your area</p>

		<div class="products container">
			<div ng-class="shouldDoubleLengthWithOffsetIndex(0, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12" ng-repeat="product in products">
				<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ product.image_urls[0] }})'}">
					<a ui-sref="product({ productId: product.id })">
						<div class="item-title"><div class="text-center"><h2>{{ product.title }}</h2></div></div>
						<div class="item-price">{{ product.price | currency : nil : 0 }}</div>
					</a>
				</div>
			</div>
		</div>

		<div class="row footer-row"><a ng-click="viewAllProductsButtonPressed()">See All Products</a></div>

		<h2 class="row header-row title">Popular categories</h2>
		<p class="row header-row subtitle">Favorites rentals in your area</p>

		<div class="tags container">
			<div ng-class="shouldDoubleLengthWithOffsetIndex(1, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12" ng-repeat="tag in tags">
				<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ tag.image_url }})'}">
					<a ui-sref="tag({ tagId: tag.id })">
						<div class="item-title"><div class="text-center"><h2>{{ tag.name }}</h2></div></div>
					</a>
				</div>
			</div>
		</div>

		<div class="row footer-row"><a ng-click="viewAllCategoriesButtonPressed()">See All Categories</a></div>
	</div>
</div>
