<div class="home-page">
	<div class="container header">
		<span class="row header-row title">A life of <span class="stylized">fun</span>, <span class="stylized">experience</span>, and <span class="stylized">adventure.</span></span>
		<hr />
		<span class="row header-row subtitle">Convenient, affordable, and simple experiences and experiences. Delivered or shipped to your doorstep.</span>
	</div>

	<form class="navbar-form search">
		<div class="search-inputs-container experiences">
			<input type="text" ng-model="experiencesQuery.query" class="form-control query" placeholder="Search" autofocus><input type="text" ng-model="experiencesQuery.locality" class="form-control location" placeholder="location" google-places-cities-home><button type="button" ng-click="searchButtonPressed()" class="btn btn-primary">Search</button>
		</div>
	</form>

	<div class="container">
		<div class="tags container">
			<div ng-class="shouldDoubleLengthWithOffsetIndex(1, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12 item-gallery" ng-repeat="tag in tags.data">
				<a ng-href="/tag/{{ tag.id }}">
					<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ tag.image_url }})'}"></div>
					<div class="item-text">
						<span class="item-title-bold">{{ tag.name }}</span>
					</div>
				</a>
			</div>
		</div>

		<div class="row footer-row"><a href="/tags">All Categories</a></div>

		<h2 class="row header-row title">Popular experiences</h2>

		<div class="experiences container">
			<div ng-class="shouldDoubleLengthWithOffsetIndex(0, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12 item-gallery" ng-repeat="experience in experiences.data">
				<a ng-href="/experience/{{ experience.id }}">
					<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ experience.image_urls[0] }})'}"></div>
					<div class="item-text">
						<span class="item-title-bold">{{ experience.price | currency : nil : 0 }}</span>
						<span class="item-title">{{ experience.title }}</span>
					</div>
				</a>
			</div>
		</div>

		<div class="row footer-row"><a ng-click="viewAllExperiencesButtonPressed()">All Experiences</a></div>
	</div>
</div>
