<div class="search-page">
	<form class="navbar-form search">
		<div class="search-inputs-container tags">
			<input type="text" ng-model="query.query" ng-change="queryInputChanged()" ng-model-options='{ debounce: 200 }' class="form-control query" placeholder="Search" autofocus /><button type="button" ng-click="searchButtonPressed()" class="btn btn-primary">Search</button>
		</div>
	</form>

	<div class="tags container">
		<div ng-class="shouldDoubleLengthWithOffsetIndex(1, $index) ? 'col-lg-8' : 'col-lg-4'" class="col-sm-6 col-xs-12 item-gallery" ng-repeat="tag in tags.data">
			<a ng-href="tag/{{ tag.id }}?cityId={{ city.id }}">
				<div class="col-lg-12 col-sm-12 item" ng-style="{'background-image':'url({{ tag.image_url }})'}"></div>
				<div class="item-text">
					<span class="item-title-bold">{{ tag.name }}</span>
				</div>
			</a>
		</div>
	</div>

	<nav aria-label="Page navigation" class="pagination" ng-if="tags.data.length > 0">
		<ul class="pagination">
			<li ng-class="{ disabled: query.page == 1 }" ng-disabled="query.page == 1">
				<a ng-href="/tags?cityId={{ city.id }}&page={{ pageOffsetBy(-1) }}&query={{ query.query }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li ng-repeat="page in pages_to_display" ng-class="{ active: query.page == page }"><a ng-href="/tags?cityId={{ city.id }}&page={{ page }}&query={{ query.query }}">{{ page }}</a></li>
			<li ng-class="{ disabled: query.page == last_page }" ng-disabled="query.page == last_page">
				<a ng-href="/tags?cityId={{ city.id }}&page={{ pageOffsetBy(1) }}&query={{ query.query }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
