<div class="product-page" ng-if="product.id">
	<div class="container">
		<div class="col-xs-12 col-md-3 side-column">
			<div ng-if="user.id == product.owner.id">
				<p class="row">Thanks for being a great community member. Feel free to edit your product here.</p>
				<br />
				<button type="button" class="btn btn-primary" ui-sref="list({ productId: product.id })" href>Edit</button>
				<button type="button" class="btn btn-danger" ng-if="product.active" ng-click="disableProduct()">Deactivate</button>
				<button type="button" class="btn btn-success" ng-if="!product.active" ng-click="enableProduct()">Activate</button>
				<button class="btn btn-success" ng-if="user.admin && !product.featured" ng-click="toggleFeaturedStatus()">Feature Product</button>
				<button class="btn btn-danger" ng-if="user.admin && product.featured" ng-click="toggleFeaturedStatus()">Unfeature Product</button>
			</div>

			<div ng-if="(user.id && (user.id != product.owner.id)) || !user.id">
				<div class="form-group start-date">
					<input type="text" id="startDateInput" class="form-control" uib-datepicker-popup="fullDate" ng-model="rentalForm.startDate" ng-focus="startDatePickerOpened()" ng-change="startDateChanged()" is-open="startDatePicker.opened" on-open-focus="false" datepicker-options="startDateOptions" ng-required="true" placeholder="Borrow date" show-button-bar="false">
				</div>
				<div class="form-group end-date" ng-class="{ 'has-error': endDateInvalid }">
					<input type="text" class="form-control" uib-datepicker-popup="fullDate" ng-model="rentalForm.endDate" ng-focus="endDatePickerOpened()" ng-change="endDateChanged()" is-open="endDatePicker.opened" on-open-focus="false" datepicker-options="endDateOptions" ng-required="true" show-button-bar="false" placeholder="Return date">
				</div>
				<br />

				<div class="row rental-cost-math">{{ product.price | currency : nil : 0 }} x {{ rentalForm.numberOfDays | number : 0 }} days</div>
				<hr class="small" />
				<div class="row rental-cost-total">Total: <strong>{{ rentalForm.rentalCost | currency : nil : 2 }}</strong></div>
				<div class="row rental-cost-total">Security deposit: <strong>{{ rentalForm.securityDeposit | currency : nil : 2 }}</strong></div>

				<br /><br />
				<button type="button" class="btn btn-primary" ng-click="requestToBorrowButtonClicked()">Request to Borrow</button>
				<a class="btn btn-default" href="mailto:report@borrowbear.com">Report Product</a>

				<button class="btn btn-success" ng-if="user.admin && !product.featured" ng-click="toggleFeaturedStatus()">Feature Product</button>
				<button class="btn btn-danger" ng-if="user.admin && product.featured" ng-click="toggleFeaturedStatus()">Unfeature Product</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-9 content-column">
			<h2 class="row">{{ product.title }}<span ng-if="!product.active"> (deactivated)</span></h2>
			<p>
				<strong>{{ product.price | currency : nil : 0 }} per day</strong> | <span>{{ product.pickup_location.formatted_address }}</span>
			</p>
			<p class="row">{{ product.description }}</p>
			<p class="row">Tags: <span ng-repeat="tag in product.tags"><a ng-href="/tag/{{ tag.id }}">{{ tag.name }}</a><span ng-show="!$last">, </span></span></p>

			<div class="images container item-gallery">
				<div class="col-lg-4 col-sm-6 col-xs-12 item" ng-style="{'background-image':'url({{ image_url }})'}" ng-repeat="image_url in product.image_urls track by $index"></div>
			</div>
		</div>
	</div>
</div>
