<div class="rental-page" ng-if="rental.id">
	<div class="container">
		<div class="col-xs-12 col-md-6 side-column">
			<h2 class="row">{{ rental.product.title }}</h2>
			<h4 class="row">{{ rental.status }}</h4>
			<div class="form-inline row" ng-if="rental.status != 'cancelled'">
				<button type="submit" class="btn btn-success" ng-click="confirmButtonPressed()" ng-if="(rental.product.owner.id == user.id) && (rental.status == 'pending')">Confirm</button>
				<button type="submit" class="btn btn-danger" ng-click="rejectByProductOwnerButtonPressed()" ng-if="(rental.product.owner.id == user.id) && (rental.status == 'pending')">Reject</button>
				<button type="submit" class="btn btn-danger" ng-click="rejectByRenterButtonPressed()" ng-if="(rental.renter.id == user.id) && (rental.status == 'pending')">Cancel</button>
				<button type="submit" class="btn btn-danger" ng-click="cancelByProductOwnerButtonPressed()" ng-if="(rental.product.owner.id == user.id) && (rental.status == 'accepted')">Cancel</button>
				<button type="submit" class="btn btn-danger" ng-click="cancelByRenterButtonPressed()" ng-if="(rental.renter.id == user.id) && (rental.status == 'accepted')">Cancel</button>
			</div>
			<p class="row"><strong>Borrow date</strong>: {{ rental.starts_at | date:'EEE, MMM d' }} | <strong>Return date</strong>: {{ rental.ends_at | date:'EEE, MMM d' }}</p>
			<p class="row">Total: <strong>{{ rental.quoted_total | currency : nil : 2 }}</strong></p>
			<p class="row">Refundable security deposit: <strong>{{ rental.quoted_security_deposit | currency : nil : 2 }}</strong></p>
			<p class="row">Approximate pickup location: {{ rental.product.pickup_location.approximate_formatted_address }}</p>
			<p class="row">{{ rental.product.description }}</p>
			<div class="row item" ng-style="{'background-image':'url({{ image_url }})'}" ng-repeat="image_url in rental.product.image_urls track by $index"></div>
		</div>
		<div class="col-xs-12 col-md-6 content-column">
			<fieldset ng-disabled="rental.status == 'cancelled'">
				<form class="form-horizontal list">
					<div class="col-xs-12">
						<textarea class="form-control row" ng-model="message.text" id="inputDescription" placeholder="Send message"></textarea>
					</div>
					<div class="col-xs-12">
						<button class="row btn btn-primary" ng-click="sendMessage()" ng-disabled="(rental.status == 'cancelled')">Send Message</button>
					</div>
				</form>
			</fieldset>
			<div class="message" ng-repeat="message in rental.messages | orderBy:'-created_at'" ng-class="(message.sender.id == user.id) ? 'current-user' : 'other-user'">
				<div class="row">
					<div ng-if="message.sender.id == user.id" class="col-xs-2 message-top-level">
						<img ng-src="{{ message.sender.image_url }}" class="img-rounded">
					</div>
					<div class="message-container col-xs-10 message-top-level">
						<div class="message-box">
							<div class="message-text"><strong>{{ message.sender.username }}</strong> | {{ message.created_at | date:'MMM d, h:mm a' }}</div>
							<div class="message-text">{{ message.text }}</div>
						</div>
					</div>
					<div ng-if="message.sender.id != user.id" class="col-xs-2 message-top-level">
						<img ng-src="{{ message.sender.image_url }}" class="img-rounded">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
