<nav class="navbar navbar-default" ng-class="{ 'clear-nav': home, 'navbar-fixed-top': home }" ng-controller="NavigationController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">
                <img src="/images/logo_clear.png" class="clear">
                <img src="/images/logo_opaque.png" class="opaque">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-if='user.signedIn'>
                <li><a href="/list/">List</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="profile/{{ user.id }}">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logoutUser()">Logout</a></li>
                    </ul>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right" ng-if='!user.signedIn'>
                <li><a ng-click="register()">List</a></li>
                <li><a ng-click="login()">Login</a></li>
                <li><a ng-click="register()">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
