<div class="container" ng-if="fetchedUser.id == user.id">
	<div class="profile-page" ng-if="fetchedUser.id">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" ng-class="{active : (selectedIndex == StateEnum.PROFILE)}">
				<a ng-click="tabClicked(StateEnum.PROFILE)" aria-controls="profile" role="tab" data-toggle="tab">
					Profile
				</a>
			</li>
			<li role="presentation" ng-class="{active : (selectedIndex == StateEnum.LISTINGS)}" ng-if="fetchedUser.experiences.length > 0">
				<a ng-click="tabClicked(StateEnum.LISTINGS)" aria-controls="profile" role="tab" data-toggle="tab">
					Listings
				</a>
			</li>
			<li role="presentation" ng-class="{active : (selectedIndex == StateEnum.SALES)}" ng-if="fetchedUser.sales.length > 0">
				<a ng-click="tabClicked(StateEnum.SALES)" aria-controls="profile" role="tab" data-toggle="tab">
					Sales
				</a>
			</li>
			<li role="presentation" ng-class="{active : (selectedIndex == StateEnum.PURCHASES)}" ng-if="fetchedUser.purchases.length > 0">
				<a ng-click="tabClicked(StateEnum.PURCHASES)" aria-controls="profile" role="tab" data-toggle="tab">
					Purchases
				</a>
			</li>
			<li role="presentation" ng-class="{active : (selectedIndex == StateEnum.PAYMENTS)}">
				<a ng-click="tabClicked(StateEnum.PAYMENTS)" aria-controls="profile" role="tab" data-toggle="tab">
					Payments
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane" ng-class="{active : (selectedIndex == StateEnum.PROFILE)}" id="profile">
				<ul class="profile">
					<li ng-if="fetchedUser.email">Email: {{ fetchedUser.email }}</li>
					<li ng-if="fetchedUser.phone_number">Phone: {{ fetchedUser.phone_number }}</li>
					<li ng-if="fetchedUser.username">Username: {{ fetchedUser.username }}</li>
				</ul>
			</div>

			<div role="tabpanel" class="tab-pane" ng-class="{active : (selectedIndex == StateEnum.LISTINGS)}" id="listings">
				<table class="col-lg-12 table table-bordered table-responsive">
					<thead>
						<tr>
							<th>Experience</th>
							<th>Status</th>
							<th>Update</th>
							<th>Active</th>
							<th>Price</th>
							<th>Security Deposit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="experience in fetchedUser.experiences">
							<td><a ng-href="experience/{{ experience.id }}">{{ experience.title }}</a></td>
							<td>
								<span ng-if="experience.active">Active</span>
								<span ng-if="!experience.active">Disabled</span>
							</td>
							<td><button type="button" class="btn btn-primary" ng-click="redirectToEditExperience(experience.id)">Edit</button></td>
							<td>
								<button type="button" class="btn btn-danger" ng-if="experience.active" ng-click="disableExperience(experience)">Deactivate</button>
								<button type="button" class="btn btn-success" ng-if="!experience.active" ng-click="enableExperience(experience)">Activate</button>
							</td>
							<td>{{ experience.equipment_rental_price | currency : nil : 0 }}</td>
							<td>{{ experience.equipment_rental_security_deposit | currency : nil : 0 }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane" ng-class="{active : (selectedIndex == StateEnum.SALES)}" id="sales">
				<table class="col-lg-12 table table-bordered table-responsive">
					<thead>
						<tr>
							<th>Purchase</th>
							<th>Status</th>
							<th>Pickup Date</th>
							<th>Dropoff Date</th>
							<th>Price</th>
							<th>Security Deposit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="purchase in fetchedUser.sales">
							<td><a ng-href="purchase/{{ purchase.id }}">{{ purchase.experience.title }}</a></td>
							<td><span style="text-transform: capitalize;">{{ purchase.status }}</span></td>
							<td>{{ purchase.equipment_rental_starts_at | date:'EEE, MMM d' }}</td>
							<td>{{ purchase.equipment_rental_ends_at | date:'EEE, MMM d' }}</td>
							<td>{{ purchase.quoted_total_cost | currency : nil : 0 }}</td>
							<td>{{ purchase.quoted_equipment_rental_security_deposit | currency : nil : 0 }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane" ng-class="{active : (selectedIndex == StateEnum.PURCHASES)}" id="purchases">
				<table class="col-lg-12 table table-bordered table-responsive">
					<thead>
						<tr>
							<th>Purchase</th>
							<th>Status</th>
							<th>Pickup Date</th>
							<th>Dropoff Date</th>
							<th>Price</th>
							<th>Security Deposit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="purchase in fetchedUser.purchases">
							<td><a ng-href="purchase/{{ purchase.id }}">{{ purchase.experience.title }}</a></td>
							<td><span style="text-transform: capitalize;">{{ purchase.status }}</span></td>
							<td>{{ purchase.equipment_rental_starts_at | date:'EEE, MMM d' }}</td>
							<td>{{ purchase.equipment_rental_ends_at | date:'EEE, MMM d' }}</td>
							<td>{{ purchase.quoted_total_cost | currency : nil : 0 }}</td>
							<td>{{ purchase.quoted_equipment_rental_security_deposit | currency : nil : 0 }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane" ng-class="{active : (selectedIndex == StateEnum.PAYMENTS)}" id="payments">
				<div class="account-information">
					<a href="/account/accept_payments" class="btn btn-primary" ng-if="!accountInformation.last_four">Setup Payout Info</a>
					<a href="/account/accept_payments" class="btn btn-primary" ng-if="accountInformation.last_four">Edit Payout Info</a>
					<span ng-if="accountInformation.bank_name">{{ accountInformation.bank_name }} ending in {{ accountInformation.last_four }}</span>
					<span ng-if="!accountInformation.last_four">Please provide outbound payment information so we can pay you for your listings. As always, all sensitive information is handled securely and is never stored on our servers.</span>
				</div>

				<div ng-if="customerInformation">
					<a href="/account/add_payment_method" class="btn btn-primary">Add credit card</a>
					<span ng-if="customerInformation.cards.length == 0">Add a credit card to start renting out items.</span>
					<table class="col-lg-12 table table-bordered table-responsive" ng-if="customerInformation.cards.length > 0">
						<thead>
							<tr>
								<th>Card</th>
								<th>Delete</th>
								<th>Make default</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="card in customerInformation.cards">
								<td>{{ card.brand }} ending in {{ card.last_four }} (exp. {{ card.exp_month }}/{{ card.exp_year }})</a></td>
								<td><button type="button" class="btn btn-primary" ng-click="deleteCard(card)">Delete</button></td>
								<td><button type="button" class="btn btn-success" ng-disabled="customerInformation.default_card_id == card.id" ng-click="setCardAsDefault(card)">Make default</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
